:root {
  font-family: "Andale Mono";
  line-height: 1.25;
  font-weight: 400;

  color: #ed762e;
  background-color: #f1eade;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}