:root {
  font-family: "Andale Mono";
  line-height: 1.25;
  font-weight: 400;
  color: #ed762e;
  background-color: #f1eade;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Andale Mono";
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
