.title {
    text-align: center;
    padding: 30px;
  }
  
  .form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .labels {
    flex: 1;
    display: block;
    margin-bottom: 8px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.5em 1.5em;
    font-size: 1.2em;
    font-weight: 500;
    font-family: inherit;
    text-align: left;
  }

  .labels-config {
    flex: 1;
    display: block;
    border-radius: 8px;
    border: 1px solid transparent;
    padding-top: 0.5em;
    font-size: 1.2em;
    font-weight: 500;
    font-family: inherit;
    text-align: left;
  }

  .labels-config-select {
    flex: 1;
    margin-right: 15%;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.2em;
    font-size: 1.2em;
    font-weight: 500;
    font-family: inherit;
    text-align: left;
    align-items: center;
    justify-content: center;
  }
  
  .fields {
    flex: 2;
    padding: 5px;
    margin-left: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    font-family: inherit;
    width: 70%;
    text-align: left;
  }

  .fields-address {
    flex: 2;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    font-family: inherit;
    width: 100%;
    text-align: left;
  }
  
  .fields-config {
    padding: 5px;
    margin-left: 8px;
    border: 1px solid #ccc;
    font-size: 1em;
    font-family: inherit;
    width: 45%;
    text-align: left;
  }

  .fields-config::placeholder {
    color: #ed762e;
    font-weight: bolder;
  }

  .config-buttons {
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #ed762e;
    color: white;
    margin-bottom: 8px;
    cursor: pointer;
  }

  .config-buttons-red {
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #e60e19;
    color: white;
    margin-bottom: 8px;
    cursor: pointer;
  }