.title {
    text-align: center;
    padding: 30px;
  }

  .dashboard-container {
    margin: auto;

  }

  .label {
    padding-left: 20px;
  }

   .database {
    margin-top: 20px;
    border-collapse: collapse;
    min-width: 1200px;
  }
  
  .database td, .database th {
    border: 2px solid black;
    padding: 8px;
  }
  
  .database tr:nth-child(even){background-color: #fdf0da;}
  
  .database tr:hover {background-color: #ddd;}
  
  .database th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ed762e;
    color: white;
  }

  .button {
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #ed762e;
    color: white;
    margin: 20px;
  }