body {
    font-family: "Andale Mono";
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 500px;
  }
  
  .title {
    text-align: center;
    font-size: 250%;
    padding: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-register-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #ed762e;
    color: black;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-top: 10px;
  }
  
  .login-register-button:hover {
    border-color: #535bf2;
    text-decoration: none;
  }